#head {
    
    
    padding: 10px; /* Add padding for spacing */
}

.logo {
    margin-bottom: 10px; /* Adjust the margin as needed */
}

h1 {
    text-align: center; /* Remove default margin to avoid extra space */
}



footer{
    background-color: gray;
    margin-bottom: 0;
    padding-bottom: 0;
}
#hk{
    color: gray;
}
.para{
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}
.btn{
    width: 27%;
    font-weight: 450 !important;
}
#heater{
    margin-left: 40px;
    float: left;
    height: 400px;
}


span{
    font-weight: bold;
}
#kontakt-form{
width: 60%;
margin: 0 auto;
margin-top: 5%;
margin-bottom: 20px;
background-color: rgb(245, 245, 245);
padding: 10px;
border-radius: 10px;
max-width: 600px;
}
@media only screen and (max-width: 450px) {
    #kontakt-form{
        width: 80%;
    }
    
}

.btn-primary{
    
    width: 100px;
    margin-top: 15px;
}
#subbtn{
    text-align: center;
}
#inputnachricht4{
    height: 150px;
    
}
textarea{
    height: 9rem;
}
#head1{
    height: 800px;
    text-align: center;
    padding-top: 5%;

}
.myButton:hover .btn {
    background-color: #e30613; /* Red when hovering */
    color: white; /* Text color when hovering */
}
#azubi_video {
    text-align: center;
    overflow: hidden;
    
}

#azubi_video iframe {
    max-width: 100%;
    margin: 0 auto; /* Center the iframe horizontally */
    border-radius: 15px;
}
@media (max-width: 750px) {
    #azubi_video iframe {
        width: 70%; 
    }
}
