#head{
background-color: white;
}
.logo{
    display: inline-block;
    margin-left: 80px;
    margin-top: 20px;
}
h1{
    display: inline-block;
    margin: 30%;
    font-family: 'Lato', sans-serif;
    
}
footer{
    background-color: gray;
    margin-bottom: 0;
    padding-bottom: 0;
}
#hk{
    color: gray;
}
.para{
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}
.btn{
    width: 27%;
    font-weight: 450 !important;
}
#heater{
    margin-left: 40px;
    float: left;
    height: 400px;
}


span{
    font-weight: bold;
}
#kontakt-form{
width: 65%;
margin-left: 15%;
margin-top: 5%;
margin-bottom: 20px;
background-color: rgb(245, 245, 245);
padding: 10px;
border-radius: 10px;
}
.btn-primary{
    
    width: 100px;
    margin-top: 15px;
}
#subbtn{
    text-align: center;
}
#inputnachricht4{
    height: 150px;
    
}
textarea{
    height: 9rem;
}
