#head{
background-color: white;
}
.logo{
    display: inline-block;
    margin-left: 80px;
    margin-top: 20px;
}
h1{
    display: inline-block;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer{
    background-color: gray;
    margin-bottom: 0;
    padding-bottom: 0;
}
#hk{
    color: gray;
}
.p1{
    justify-content: center;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}
.btn{
    width: 30%;
    font-size: 1px;
}